#cloud-config
---
merge_how:
 - name: list
   settings: [append]
 - name: dict
   settings: [no_replace, recurse_list]

write_files:
  - content: |
      [Unit]
      Wants=consul.service
      After=consul.service
    path: /etc/systemd/system/nomad.service.d/override.conf

  - content: |
      datacenter = "${datacenter}"
      data_dir = "/opt/nomad/data"

      consul {}

      client {
        enabled = true
      }

      plugin "docker" {
        config {
          allow_privileged = true
        }
      }

      plugin "nomad-driver-containerd" {
        config {
          allow_privileged = true
          containerd_runtime = "io.containerd.runc.v2"
        }
      }
    path: /etc/nomad.d/nomad.hcl

runcmd:
  - [systemctl, enable, nomad]
  - [systemctl, start, nomad]
